@import 'qz/chart-elements'

.dot
	&.year-1990
		fill $qz-purp-1

	&.year-2015
		fill $qz-purp-4

.lines line
	stroke $qz-blue-1
	stroke-width 1px
	fill none

.labels text
	font-family $qz-sans
	font-size 14px
	fill $qz-chart-axis-text
	alignment-baseline middle
